# Environment variables
CONVERSATION_URL=https://gateway-d.watsonplatform.net/conversation-slot-01/api
WORKSPACE_ID=3168bd47-bdc7-4532-87e4-58fffab2b181
CONVERSATION_USERNAME=dc9c8d9f-dade-4898-bf24-0e27f7e57852
CONVERSATION_PASSWORD=CQTf1PhDgKq6
#Optional params, delete any which are not used!
#Optional params to enable Speech to text
#STT_USERNAME=
#STT_PASSWORD=
#Optional cloudant URL for loggin
#CLOUDANT_URL=
#If cloudant url is specified a user name and password must be specified to secure the logging endpoints
#LOG_USER=
#LOG_PASS=
